.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    
}
.logo {
  margin-top: 30px;
  margin-left: 38px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 410px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
    margin-left: 40px;
  }

  .button_container {
      display: flex;
      width: 8%;
  }
  .special_container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 30px;
  }


  .number_button {
    background: purple;
    color: #fff;
    margin: 0.2rem;
    padding: 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 30px;
  }

  .operator_button {
    background: teal;
    color: #fff;
    margin: 0.2rem;
    padding: 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 30px;
  }

  .special_button {
    background: #235d9c;
    height: 90px;
    width: 90px;
    
    color: #fff;
    margin-top: 30px;
    margin-right:28px;
    margin-bottom: 30px;
    padding: 15px;
    font-size: 35px;
    border: none;
    box-shadow: 1px 4px black;
    border-radius: 50px;
  }

